* {
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
}

body * {
  display: flex;
}

body {
  margin: 0;
  overflow: hidden;
}

#app {
  flex: 1;
}

.canvas {
  flex: 1;
  width: 100vh;
  height: 100vh;
  background: #333333;
}

.controls {
  flex-direction: column;
  min-width: 400px;
  padding: 10px 20px;
  background: #222222;
  color: #eeeeee;
  border-left: 1px solid #aaaaaa;
}

.control {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 20px;
}

.cone_controls,
.cube_controls,
.cylinder_controls,
.dodecahedron_controls,
.icosahedron_controls,
.octahedron_controls {
  flex-direction: column;
}

.cone_control,
.cube_control,
.cylinder_control,
.dodecahedron_control,
.icosahedron_control,
.octahedron_control {
  margin: 5px 0;
}

.cone_visibility_checkbox,
.cube_visibility_checkbox,
.cylinder_visibility_checkbox,
.dodecahedron_visibility_checkbox,
.icosahedron_visibility_checkbox,
.octahedron_visibility_checkbox {
  margin: 0 5px 0 0;
}

.cone_color_label,
.cube_color_label,
.cylinder_color_label,
.dodecahedron_color_label,
.icosahedron_color_label,
.octahedron_color_label {
  margin-right: 5px;
}
