* {
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
}

body * {
  display: flex;
}

body {
  margin: 0;
  overflow: hidden;
}

#app {
  flex: 1;
}

.canvas {
  flex: 1;
  width: 100vh;
  height: 100vh;
  background: #333333;
}

.controls {
  min-width: 400px;
  padding: 10px 20px;
  background: #222222;
  color: #eeeeee;
  border-left: 1px solid #aaaaaa;
}

.cube_controls {
  flex-direction: column;
}

.cube_control {
  margin: 5px 0;
}

.cube_visibility_label {
}

.cube_visibility_checkbox {
  margin-right: 5px;
}

.cube_color_label {
  margin-right: 5px;
}
